:root {
  --main-color: rgba(224, 23, 131, 1);
  --dark-color: rgba(51, 51, 51, 1);
  --light-color: rgba(220, 220, 220, 1);
  --lighter-color: rgba(240, 240, 240, 1);
  --lightest-color: rgba(255, 255, 255, 1);
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: var(--light-color);
  color: var(--dark-color);
  box-sizing: border-box;
}

.sidebar {
  position: fixed;
  width: 260px;
  height: 100%;
  background: var(--lighter-color);
  right: -260px;
}

.sidebar:active {
  right: 0px;
}

.sidebar ul li {
  list-style-type: none;
  text-align: center;
  padding: 15px 10px;
  border-bottom: 1px solid var(--light-color);
}

.toggle-btn {
  position: absolute;
  left: -40px;
  top: 20px;
  cursor: pointer;
  font-size: 1.2rem;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user i {
  margin: 10px;
  font-size: 2rem;
}

main {
  text-align: center;
}

.logo {
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.inner__frame {
  background-color: var(--lighter-color);
  width: 400px;
  margin: auto;
  border-radius: 4px;
  height: 500px;
}

.inner__frame ul li {
  list-style-type: none;
  background-color: var(--lightest-color);
  margin: .5rem;
  height: 60px;
  text-align: left;
  display: flex;
  align-items: center;
  width: 380px;
  margin-left: 0px;
  padding-left: 20px;
}

.inner__frame li:hover{
    opacity: .75;
    color: var(--main-color);
    cursor: pointer;
}

.sub__header {
  display: flex;
  justify-content: space-evenly;
  width: 850px;
  margin: auto;
  align-items: center;
}

.sub__header button {
    outline: none;
    color: var(--lightest-color);
    background-color: var(--main-color);
    border-radius: 4px;
    padding: .5rem;
    font-size: 1rem;
    cursor: pointer;
}

.new__task {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 220px;
    cursor: pointer;
}

.new__task i{
    padding-right: 10px;
}

footer {
  text-align: center;
  padding-top: 2rem;
}
